/* Style for the comments container */
.comments-container {
  font-family: Arial, sans-serif;
  margin: 20px;
  border: 1px solid #ddd;
  padding: 20px;
  padding-right: 40px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Style for the list of comments */
.comment-list {
  list-style-type: none;
  padding: 0;
}

/* Style for individual comment items */
.comment-item {
  margin: 20px 0;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Style for the edit comment input field */
.edit-comment-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

/* Style for comment text */
.comment-text {
  margin-left: 20px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Style for the username in a comment */
.username {
  margin-left: 20px;
  font-weight: 600;
  margin-right: 5px;
  font-size: 13px;
}

/* Style for comment buttons container */
.comment-buttons {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

/* Styles for comment action buttons (edit, save, cancel, delete) */
.edit-button,
.save-button,
.cancel-button,
.delete-button {
  padding: 5px 10px;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Style for the edit button */
.edit-button {
  background-color: #007bff;
  margin-left: 20px;
}

/* Style for the save button */
.save-button {
  background-color: #28a745;
}

/* Style for the cancel button */
.cancel-button {
  background-color: #dc3545;
}

/* Style for the delete button */
.delete-button {
  background-color: #dc3545;
  margin-right: 10px;
}

/* Style for the "Add Comment" section */
.add-comment {
  margin-top: 20px;
}

/* Style for the input field in the "Add Comment" section */
.add-comment-input {
  width: 80%;
  margin-right: 10px;
  padding: 5px;
}

/* Style for the "Add Comment" button */
.add-comment-button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* Hover styles for buttons */
.add-comment-button:hover,
.edit-button:hover,
.delete-button:hover,
.save-button:hover {
  background-color: #0056b3;
}

/* Hover style for the cancel button */
.cancel-button:hover {
  background-color: #c82333;
}
